.imageOuterContainer{
	background: #dedede;
	border-bottom: 1px solid #acacff;
	height: 50px;
}

.mainFolderImage {
  background: #aaaaaa;
  margin:10px;
}

.inRow {
	float: left;
}

.folderLabel {
	margin: 10px;
}